{% load static %}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "game/game_board.css" %}">
</head>

<body>
<div id="game_container">
<h1 id="title">Rätsel</h1>
<div id="board_container">
<table>
{% for row in boardlist %}
    <tr>
    {% for elem in row %}
        {% if elem.has_ant %}
            <td class="Color{{elem.nr}}"> <img src="{% static elem.ant_orientation %}" alt="A" width="20" height="20"> </td>
        {% else %}
            <td class="Color{{elem.nr}}">  </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
<div id="game_control">
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    
    <!-- Button 1 -->
    <button type="submit" name="button1" value="Button 1">Next Turn</button>

    <!-- Button 2 -->
    <button type="submit" name="button2" value="Button 2">Reset</button>
</form>
</div>
</div>
<div id="explanation">

</div>

</body>

